.promo {
  background-color: var(--background-color-accent);
}

.promo-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  column-gap: 20px;
}

.promo-content {
  max-width: 600px;
}

.promo-title {
  font-size: 60px;
  line-height: 72px;
  padding-top: 50px;
}

.promo-button {
  font-size: 16px;
}

.promo-image {
  display: block;
  height: 500px;
  width: 470px;
  object-position: center top;
}

@media (max-width: 767.98px) {
  .promo-container {
    flex-direction: column;
    row-gap: 50px;
  }

  .promo-image {
    width: 100%;
  }

  .promo-title {
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 479.98px) {
  .promo-image {
    height: 380px;
  }
}